//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

pc-items-table(
    table-title='::"My caches"'
    column-defs='$ctrl.cachesColumnDefs'
    items='$ctrl.shortCaches'
    actions-menu='$ctrl.tableActions'
    selected-row-id='$ctrl.selectedItemIDs'
    one-way-selection='::true'
    on-selection-change='$ctrl.selectionHook($event)'
)
    footer-slot
        div(style='font-style: italic' ng-hide='$ctrl.shortCaches.length')
            | You have no caches.
            a.link-success(
                ui-sref='base.configuration.tabs.advanced.caches.cache({cacheID: "new", selectedCaches: []})'
                ui-sref-opts='{location: "replace"}'
            ) Create one?           
        a.link-success(
            ui-sref='base.configuration.tabs.advanced.caches.cache({cacheID: "new", selectedCaches: []})'
            ui-sref-opts='{location: "replace"}'
            ng-show='$ctrl.shortCaches.length'
        ) + Add new cache

h2.pc-page-header(ng-if='!($ctrl.selectedItemIDs.length === 1 || $ctrl.isNew)')
    | {{ $ctrl.selectedItemIDs.length ? 'Multiple' : 'No' }} caches selected
    span.pc-page-header-sub Select only one cache to see settings and edit it

h2.pc-page-header(ng-if='$ctrl.selectedItemIDs.length === 1 || $ctrl.isNew')
    | {{ $ctrl.isNew ? 'Create' : 'Edit' }} cache {{ $ctrl.originalCache.name ? '‘'+$ctrl.originalCache.name+'’' : '' }}

div(bs-collapse='' data-allow-multiple='true' ng-class='{"pca-form-blocked": !($ctrl.selectedItemIDs.length === 1 || $ctrl.isNew)}')
    form.form-horizontal(name='ui.inputForm' novalidate)
        include /app/modules/states/configuration/caches/general
        include /app/modules/states/configuration/caches/memory
        include /app/modules/states/configuration/caches/query
        include /app/modules/states/configuration/caches/store

        include /app/modules/states/configuration/caches/affinity
        include /app/modules/states/configuration/caches/concurrency
        include /app/modules/states/configuration/caches/near-cache-client
        include /app/modules/states/configuration/caches/near-cache-server
        include /app/modules/states/configuration/caches/node-filter
        include /app/modules/states/configuration/caches/rebalance
        include /app/modules/states/configuration/caches/statistics

.pc-form-actions-panel(ng-class='{"pca-form-blocked": !($ctrl.selectedItemIDs.length === 1 || $ctrl.isNew)}')
    .pc-form-actions-panel__right-after
    button.btn-ignite.btn-ignite--link-success(
        type='button'
        ng-click='ui.inputForm.$dirty && resetAll()'
    )
        | Cancel
    button.btn-ignite.btn-ignite--success(
        ng-click='$ctrl.saveItem($ctrl.clonedCache)'
    ) Save
