//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

include /app/helpers/jade/mixins

-var form = '$parent.form'
-var dirPaths = `$parent.item.FS.directoryPaths`

.details-row
    .group-section
        .group
            .group-legend
                label
                    span Cache key configuration

                ignite-form-group-tooltip
                    | Cache key configuration

            .group-content
                pc-list-editable(ng-model=`${dirPaths}`)
                    pc-list-editable-item-view
                        | {{ $parent.item }}
                    pc-list-editable-item-edit
                        - form = '$parent.form'
                        +ignite-form-field-text('Directory path', '$parent.item', '"directoryPath"', false, true, 'Input directory path')(
                            data-ignite-unique=`$parent.$parent.$parent.$parent.${dirPaths}`
                            data-ignite-form-field-input-autofocus='true'
                        )
                            +unique-feedback('"directoryPath"', 'Such path already exists!')

                    pc-list-editable-no-items
                        | Not defined

            a.link-success(ng-click=`(${dirPaths} = ${dirPaths} || []).push("")`)
                | + Add new path

- form = '$parent.form'
.settings-row
    +java-class('Listener:', '$parent.item.FS.checkpointListener', '"checkpointFsListener" + $index', 'true', 'false', 'Checkpoint listener implementation class name', '$parent.item.kind === "FS"')
