//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

include /app/helpers/jade/mixins
include /app/modules/states/configuration/clusters/general/discovery/cloud
include /app/modules/states/configuration/clusters/general/discovery/google
include /app/modules/states/configuration/clusters/general/discovery/jdbc
include /app/modules/states/configuration/clusters/general/discovery/multicast
include /app/modules/states/configuration/clusters/general/discovery/s3
include /app/modules/states/configuration/clusters/general/discovery/shared
include /app/modules/states/configuration/clusters/general/discovery/vm
include /app/modules/states/configuration/clusters/general/discovery/zookeeper
include /app/modules/states/configuration/clusters/general/discovery/kubernetes
include mixins/pcb-form-field-size

- const model = '$ctrl.clusterConfiguration.originalCluster'
- const modelDiscoveryKind = `${model}.discovery.kind`
- let form = '$ctrl.form'
- const tipOpts = {placement: 'top'}

form(novalidate name=form)
    h2.pcb-section-header.pcb-inner-padding Step 1. Cluster Configuration

    .pcb-section-notification.pcb-inner-padding(ng-if='!$ctrl.clusters.size')
        | You have no clusters.
        | Let’s configure your first and associate it with caches.
    .pcb-section-notification.pcb-inner-padding(ng-if='$ctrl.clusters.size')
        | Configure cluster properties and associate your cluster with caches.

    .pc-form-grid-row.pcb-form-grid-row
        .pc-form-grid-col-60
            +text('Name:', `${model}.name`, '"clusterName"', 'true', 'Input name', 'Grid name allows to indicate to what grid this particular grid instance belongs to')

        .pc-form-grid__break
        .pc-form-grid-col-60
            +dropdown('Discovery:', modelDiscoveryKind, '"discovery"', 'true', 'Choose discovery', '$ctrl.discoveries',
            'Discovery allows to discover remote nodes in grid\
            <ul>\
                <li>Static IPs - IP Finder which works only with pre configured list of IP addresses specified</li>\
                <li>Multicast - Multicast based IP finder</li>\
                <li>AWS S3 - AWS S3 based IP finder that automatically discover cluster nodes on Amazon EC2 cloud</li>\
                <li>Apache jclouds - Apache jclouds multi cloud toolkit based IP finder for cloud platforms with unstable IP addresses</li>\
                <li>Google cloud storage - Google Cloud Storage based IP finder that automatically discover cluster nodes on Google Compute Engine cluster</li>\
                <li>JDBC - JDBC based IP finder that use database to store node IP address</li>\
                <li>Shared filesystem - Shared filesystem based IP finder that use file to store node IP address</li>\
                <li>Apache ZooKeeper - Apache ZooKeeper based IP finder when you use ZooKeeper to coordinate your distributed environment</li>\
                <li>Kubernetes - IP finder for automatic lookup of Ignite nodes running in Kubernetes environment</li>\
            </ul>')
        .pc-form-grid__break
        .pc-form-group
            +discovery-cloud(model)(ng-if=`${modelDiscoveryKind} === 'Cloud'` class='pcb-form-grid-row')
            +discovery-google(model)(ng-if=`${modelDiscoveryKind} === 'GoogleStorage'` class='pcb-form-grid-row')
            +discovery-jdbc(model)(ng-if=`${modelDiscoveryKind} === 'Jdbc'` class='pcb-form-grid-row')
            +discovery-multicast(model)(ng-if=`${modelDiscoveryKind} === 'Multicast'` class='pcb-form-grid-row')
            +discovery-s3(model)(ng-if=`${modelDiscoveryKind} === 'S3'` class='pcb-form-grid-row')
            +discovery-shared(model)(ng-if=`${modelDiscoveryKind} === 'SharedFs'` class='pcb-form-grid-row')
            +discovery-vm(model)(ng-if=`${modelDiscoveryKind} === 'Vm'` class='pcb-form-grid-row')
            +discovery-zookeeper(model)(ng-if=`${modelDiscoveryKind} === 'ZooKeeper'` class='pcb-form-grid-row')
            +discovery-kubernetes(model)(ng-if=`${modelDiscoveryKind} === 'Kubernetes'` class='pcb-form-grid-row')

        .pc-form-grid__break
        .pc-form-grid-col-60
            .group-section
                .group
                    .group-legend
                        label
                            span Addresses

                    .group-content
                        pc-list-editable(ng-model='$ctrl.state.cluster.discovery.Multicast.addresses')
                            pc-list-editable-model-view
                                | {{ $parent.modelView }}
                            pc-list-editable-edit-view
                                +text('Test', `$parent.editView`, '"clusterName"', false, 'Input name')

                    a.link-success(ng-click='$ctrl.state.cluster.discovery.Multicast.addresses.push("")')
                        | + Add New Address

    h2.pcb-section-header.pcb-inner-padding(style='margin-top:30px') Step 2. Caches Configuration

    .settings-row.pcb-inner-padding(ng-show='!$ctrl.caches.size').pcb-section-notification
        | You have no caches. Let’s create a new one.

    .pcb-form-grid-row.pc-form-grid-row(ng-if='$ctrl.defaultMemoryPolicy && $ctrl.memorySizeInputVisible')
        .pc-form-grid-col-60
            pc-form-field-size(
                required='true'
                ng-model='$ctrl.defaultMemoryPolicy.maxSize'
                id='memory'
                name='memory'
                label='Off-heap Size:'
                placeholder='0.8 * totalMemoryAvailable'
                min='{{::$ctrl.minMemorySize}}'
                tip='“default” cluster memory policy off-heap max memory size. Leave empty to use 80% of physical memory available on current machine. Should be at least 10Mb.'
            )
    .pcb-caches-list(
        ng-repeat='cache in $ctrl.allClusterCaches track by cache._id'
        ng-form='cacheForm'
    )
        .pcb-form-grid-row.pc-form-grid-row
            - form = 'cacheForm'
            .pc-form-grid-col-60
                +text('Name:', 'cache.name', '"cacheName"', 'true', 'Input name', 'Cache name')
            .pc-form-grid-col-20
                +cacheMode('Mode:', 'cache.cacheMode', '"cacheMode"', 'PARTITIONED')
            .pc-form-grid-col-20
                +dropdown('Atomicity:', 'cache.atomicityMode', '"atomicityMode"', 'true', 'ATOMIC',
                    '[\
                        {value: "ATOMIC", label: "ATOMIC"},\
                        {value: "TRANSACTIONAL", label: "TRANSACTIONAL"}\
                    ]',
                    'Atomicity:\
                    <ul>\
                        <li>ATOMIC - in this mode distributed transactions and distributed locking are not supported</li>\
                        <li>TRANSACTIONAL - in this mode specified fully ACID-compliant transactional cache behavior</li>\
                    </ul>')
            .pc-form-grid-col-20(ng-show='cache.cacheMode === "PARTITIONED"')
                +number('Backups:', 'cache.backups', '"backups"', 'true', '0', '0', 'Number of nodes used to back up single partition for partitioned cache')
        .pcb-cache-remove
            button.btn-ignite.btn-ignite--link-dashed-secondary(
                type='button'
                ng-click='$ctrl.removeCache(cache)'
                bs-tooltip=''
                data-title='Remove from cluster'
            )
                svg(ignite-icon='cross').icon


    .pcb-buttons-group.margin-top-dflt-2x.pcb-inner-padding
        a.link-primary(
            ng-click='$ctrl.addCache()'
        )
            | + Add one more cache
        a.link-primary.pcb-select-existing-cache(ng-show='$ctrl.caches.length')
            button(
                bs-select
                ng-model='$ctrl.oldClusterCaches'
                ng-model-options=`{
                    debounce: {
                        default: 5
                    }
                }`
                bs-options='cache._id as cache.name for cache in $ctrl.cachesMenu'
                data-multiple='true'
                data-placement='top-left'
                protect-from-bs-select-render
            )
                | + Select from existing caches
        
    .pc-form-actions-panel
        pc-project-structure-preview(
            cluster=model
            ng-if=`!$ctrl.pageService.isNewItem(${model})`
        )
        .pc-form-actions-panel__right-after
        button.btn-ignite.btn-ignite--link-success(
            type='button'
            ui-sref='base.configuration.overview'
        )
            | Cancel
        .btn-ignite-group
            button.btn-ignite.btn-ignite--success(
                ng-click='$ctrl.saveAndDownload()'
                type='button'
            )
                svg(ignite-icon='download').icon-left
                | Save changes and download project
            button.btn-ignite.btn-ignite--success(
                bs-dropdown='$ctrl.extraFormActions'
                data-placement='top-right'
                type='button'
            )
                span.icon.fa.fa-caret-up