//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

include /app/helpers/jade/mixins
include /app/modules/states/configuration/clusters/general/discovery/cloud
include /app/modules/states/configuration/clusters/general/discovery/google
include /app/modules/states/configuration/clusters/general/discovery/jdbc
include /app/modules/states/configuration/clusters/general/discovery/multicast
include /app/modules/states/configuration/clusters/general/discovery/s3
include /app/modules/states/configuration/clusters/general/discovery/shared
include /app/modules/states/configuration/clusters/general/discovery/vm
include /app/modules/states/configuration/clusters/general/discovery/zookeeper
include /app/modules/states/configuration/clusters/general/discovery/kubernetes
include mixins/pcb-form-field-size

- const model = '$ctrl.clonedCluster'
- const modelDiscoveryKind = `${model}.discovery.kind`
- let form = '$ctrl.form'
- const tipOpts = {placement: 'top'}

form(novalidate name=form)
    h2.pcb-section-header.pcb-inner-padding Step 1. Cluster Configuration

    .pcb-section-notification.pcb-inner-padding(ng-if='!$ctrl.shortClusters')
        | You have no clusters.
        | Let’s configure your first and associate it with caches.
    .pcb-section-notification.pcb-inner-padding(ng-if='$ctrl.shortClusters')
        | Configure cluster properties and associate your cluster with caches.

    .pc-form-grid-row.pcb-form-grid-row
        .pc-form-grid-col-60
            +sane-ignite-form-field-text({
                label: 'Name:',
                model: `${model}.name`,
                name: '"clusterName"',
                disabled: 'false',
                placeholder: 'Input name',
                required: true,
                tip: 'Instance name allows to indicate to what grid this particular grid instance belongs to'
            })(
                ignite-unique='$ctrl.shortClusters'
                ignite-unique-property='name'
                ignite-unique-skip=`["_id", ${model}]`
            )
                +unique-feedback(`${model}.name`, 'Cluster name should be unique.')

        .pc-form-grid__break
        .pc-form-grid-col-60
            +dropdown('Discovery:', modelDiscoveryKind, '"discovery"', 'true', 'Choose discovery', '$ctrl.Clusters.discoveries',
            'Discovery allows to discover remote nodes in grid\
            <ul>\
                <li>Static IPs - IP Finder which works only with pre configured list of IP addresses specified</li>\
                <li>Multicast - Multicast based IP finder</li>\
                <li>AWS S3 - AWS S3 based IP finder that automatically discover cluster nodes on Amazon EC2 cloud</li>\
                <li>Apache jclouds - Apache jclouds multi cloud toolkit based IP finder for cloud platforms with unstable IP addresses</li>\
                <li>Google cloud storage - Google Cloud Storage based IP finder that automatically discover cluster nodes on Google Compute Engine cluster</li>\
                <li>JDBC - JDBC based IP finder that use database to store node IP address</li>\
                <li>Shared filesystem - Shared filesystem based IP finder that use file to store node IP address</li>\
                <li>Apache ZooKeeper - Apache ZooKeeper based IP finder when you use ZooKeeper to coordinate your distributed environment</li>\
                <li>Kubernetes - IP finder for automatic lookup of Ignite nodes running in Kubernetes environment</li>\
            </ul>')
        .pc-form-grid__break
        .pc-form-group
            +discovery-cloud(model)(ng-if=`${modelDiscoveryKind} === 'Cloud'` class='pcb-form-grid-row')
            +discovery-google(model)(ng-if=`${modelDiscoveryKind} === 'GoogleStorage'` class='pcb-form-grid-row')
            +discovery-jdbc(model)(ng-if=`${modelDiscoveryKind} === 'Jdbc'` class='pcb-form-grid-row')
            +discovery-multicast(model)(ng-if=`${modelDiscoveryKind} === 'Multicast'` class='pcb-form-grid-row')
            +discovery-s3(model)(ng-if=`${modelDiscoveryKind} === 'S3'` class='pcb-form-grid-row')
            +discovery-shared(model)(ng-if=`${modelDiscoveryKind} === 'SharedFs'` class='pcb-form-grid-row')
            +discovery-vm(model)(ng-if=`${modelDiscoveryKind} === 'Vm'` class='pcb-form-grid-row')
            +discovery-zookeeper(model)(ng-if=`${modelDiscoveryKind} === 'ZooKeeper'` class='pcb-form-grid-row')
            +discovery-kubernetes(model)(ng-if=`${modelDiscoveryKind} === 'Kubernetes'` class='pcb-form-grid-row')

    h2.pcb-section-header.pcb-inner-padding(style='margin-top:30px') Step 2. Caches Configuration

    .settings-row.pcb-inner-padding(ng-show='!$ctrl.shortCaches.length').pcb-section-notification
        | You have no caches. Let’s create a new one.

    .pcb-form-grid-row.pc-form-grid-row(ng-if='$ctrl.defaultMemoryPolicy && $ctrl.memorySizeInputVisible$|async:this')
        .pc-form-grid-col-60
            pc-form-field-size(
                ng-model='$ctrl.defaultMemoryPolicy.maxSize'
                ng-model-options='{allowInvalid: true}'
                id='memory'
                name='memory'
                label='Total Off-heap Size:'
                size-type='bytes'
                size-scale-label='mb'
                placeholder='{{ ::$ctrl.Clusters.memoryPolicy.maxSize.default }}'
                min='{{ ::$ctrl.Clusters.memoryPolicy.maxSize.min($ctrl.defaultMemoryPolicy) }}'
                tip='“default” cluster memory policy off-heap max memory size. Leave empty to use 80% of physical memory available on current machine. Should be at least 10Mb.'
                on-scale-change='scale = $event'
            )
                +form-field-feedback('"memory"', 'min', 'Maximum size should be equal to or more than initial size ({{ $ctrl.Clusters.memoryPolicy.maxSize.min($ctrl.defaultMemoryPolicy) / scale.value}} {{scale.label}}).')

    .pcb-caches-list__header.pc-form-grid-row(ng-show='$ctrl.shortCaches.length')
        .pc-form-grid-col-10
            span.ignite-form-field__label Name:
        .pc-form-grid-col-10
            span.ignite-form-field__label Mode:
        .pc-form-grid-col-10
            span.ignite-form-field__label Atomicity:
        .pc-form-grid-col-10
            span.ignite-form-field__label Backups:
    pc-list-editable.pcb-caches-list(
        ng-model='$ctrl.shortCaches'
        pc-list-editable-one-way
        on-item-change='$ctrl.changeCache($event)'
        on-item-remove='$ctrl.removeCache($event)'
    )
        pc-list-editable-item-view.pc-form-grid-row
            .pc-form-grid-col-10
                | {{ $parent.item.name }}
            .pc-form-grid-col-10
                | {{ $parent.item.cacheMode }}
            .pc-form-grid-col-10
                | {{ $parent.item.atomicityMode }}
            .pc-form-grid-col-10
                | {{ $parent.item.backups || '0' }}
        pc-list-editable-item-edit.pc-form-grid-row
            .pc-form-grid-col-10
                +ignite-form-field-text('Name', '$parent.item.name', '"name"', false, true)(
                    ignite-unique='$ctrl.shortCaches'
                    ignite-unique-property='name'
                )
                    +unique-feedback('"name"', 'Cache name should be unqiue')
            .pc-form-grid-col-10
                +cacheMode('Mode:', '$parent.item.cacheMode', '"cacheMode"', 'PARTITIONED')
            .pc-form-grid-col-10
                +sane-ignite-form-field-dropdown({
                    label: 'Atomicity:',
                    model: '$parent.item.atomicityMode',
                    name: '"atomicityMode"',
                    placeholder: 'ATOMIC',
                    options: '::$ctrl.Caches.atomicityModes',
                    tip: `
                        Atomicity:
                        <ul>
                            <li>ATOMIC - in this mode distributed transactions and distributed locking are not supported</li>
                            <li>TRANSACTIONAL - in this mode specified fully ACID-compliant transactional cache behavior</li>
                        </ul>
                    `
                })
            .pc-form-grid-col-10(ng-show='$parent.item.cacheMode === "PARTITIONED"')
                +number('Backups:', '$parent.item.backups', '"backups"', 'true', '0', '0', 'Number of nodes used to back up single partition for partitioned cache')

    .pcb-buttons-group.margin-top-dflt-2x.pcb-inner-padding
        a.link-primary(
            ng-click='$ctrl.addCache()'
        )
            | + Add one more cache
        
    .pc-form-actions-panel
        button-preview-project(ng-if='!$ctrl.isNew' cluster=model)
        .pc-form-actions-panel__right-after
        button.btn-ignite.btn-ignite--link-success(
            type='button'
            ng-click='$ctrl.resetAll()'
        )
            | Cancel
        .btn-ignite-group
            button.btn-ignite.btn-ignite--success(
                ng-click='::$ctrl.formActionsMenu[1].click()'
                type='button'
            )
                svg(ignite-icon='{{ ::$ctrl.formActionsMenu[1].icon }}').icon-left
                | {{ ::$ctrl.formActionsMenu[1].text }}
            button.btn-ignite.btn-ignite--success(
                bs-dropdown='$ctrl.formActionsMenu'
                data-placement='top-right'
                type='button'
            )
                span.icon.fa.fa-caret-up