form(
    name='ui.inputForm'
    id='cache'
    novalidate
    bs-collapse=''
    data-allow-multiple='true'
    ng-submit='$ctrl.save($ctrl.clonedCache)'
)
    include /app/modules/states/configuration/caches/general
    include /app/modules/states/configuration/caches/memory
    include /app/modules/states/configuration/caches/query
    include /app/modules/states/configuration/caches/store

    include /app/modules/states/configuration/caches/affinity
    include /app/modules/states/configuration/caches/concurrency
    include /app/modules/states/configuration/caches/near-cache-client
    include /app/modules/states/configuration/caches/near-cache-server
    include /app/modules/states/configuration/caches/node-filter
    include /app/modules/states/configuration/caches/rebalance
    include /app/modules/states/configuration/caches/statistics

.pc-form-actions-panel
    .pc-form-actions-panel__right-after
    button.btn-ignite.btn-ignite--link-success(
        type='button'
        ng-click='$ctrl.confirmAndReset()'
    )
        | Cancel
    button.btn-ignite.btn-ignite--success(
        form='cache'
        type='submit'
    ) Save
