//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

include /app/helpers/jade/mixins

-var form = 'cacheKeyCfg'
-var model = 'backupItem.cacheKeyConfiguration'

.pca-panel.pca-panel-default(ng-form=form novalidate)
    .pca-panel-heading(bs-collapse-toggle ng-click=`ui.loadPanel('${form}')`)
        ignite-form-panel-chevron
        .pca-panel-heading-title Cache key configuration
        .pca-panel-heading-description
            | Cache key configuration allows to collocate objects in a partitioned cache based on field in cache key without explicit usage of annotations on user classes.
    .pca-panel-collapse(role='tabpanel' bs-collapse-target id=`${form}`)
        .pca-panel-body(ng-if=`ui.isPanelLoaded('${form}')`).pca-form-row
            .pca-form-column-6
                .settings-row
                    .group-section
                        .group
                            .group-legend
                                label
                                    span Cache key configuration

                                ignite-form-group-tooltip
                                    | Cache key configuration
                                
                            .group-content
                                pc-list-editable(ng-model=model)
                                    pc-list-editable-item-edit
                                        - form = '$parent.form'
                                        .settings-row
                                            +java-class-autofocus('Type name:', '$parent.item.typeName', '"cacheKeyTypeName"', 'true', 'true', 'true', 'Type name')
                                        .settings-row
                                            +text('Affinity key field name:', '$parent.item.affinityKeyFieldName', '"affinityKeyFieldName"', true, 'Enter field name', 'Affinity key field name')

                                    pc-list-editable-no-items
                                        | Not defined

                            a.link-success(ng-click=`${model}.push({})`)
                                | + Add new cache key configuration

            - form = 'cacheKeyCfg'
            .pca-form-column-6
                +preview-xml-java(model, 'clusterCacheKeyConfiguration')
