//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

include /app/helpers/jade/mixins

-var form = 'pools'
-var model = '$ctrl.clonedCluster'
-var executors = model + '.executorConfiguration'

.pca-panel.pca-panel-default(ng-form=form novalidate)
    .pca-panel-heading(bs-collapse-toggle ng-click=`ui.loadPanel('${form}')`)
        ignite-form-panel-chevron
        .pca-panel-heading-title Thread pools size
        .pca-panel-heading-description
            | Settings for node thread pools.
    .pca-panel-collapse(role='tabpanel' bs-collapse-target id=`${form}`)
        .pca-panel-body(ng-if=`ui.isPanelLoaded('${form}')`).pca-form-row
            .pca-form-column-6.pc-form-grid-row
                .pc-form-grid-col-30
                    +number('Public:', model + '.publicThreadPoolSize', '"publicThreadPoolSize"', 'true', 'max(8, availableProcessors) * 2', '1',
                        'Thread pool that is in charge of processing ComputeJob, GridJobs and user messages sent to node')
                .pc-form-grid-col-30
                    +number('System:', model + '.systemThreadPoolSize', '"systemThreadPoolSize"', 'true', 'max(8, availableProcessors) * 2', '1',
                        'Thread pool that is in charge of processing internal system messages')
                .pc-form-grid-col-30
                    +number('Service:', model + '.serviceThreadPoolSize', '"serviceThreadPoolSize"', 'true', 'max(8, availableProcessors) * 2', '1',
                        'Thread pool that is in charge of processing proxy invocation')
                .pc-form-grid-col-30
                    +number('Management:', model + '.managementThreadPoolSize', '"managementThreadPoolSize"', 'true', '4', '1',
                        'Thread pool that is in charge of processing internal and Visor ComputeJob, GridJobs')
                .pc-form-grid-col-30
                    +number('IGFS:', model + '.igfsThreadPoolSize', '"igfsThreadPoolSize"', 'true', 'availableProcessors', '1',
                        'Thread pool that is in charge of processing outgoing IGFS messages')
                .pc-form-grid-col-30
                    +number('Rebalance:', model + '.rebalanceThreadPoolSize', '"rebalanceThreadPoolSize"', 'true', '1', '1',
                        'Max count of threads can be used at rebalancing')
                .pc-form-grid-col-30
                    +number('Utility cache:', model + '.utilityCacheThreadPoolSize', '"utilityCacheThreadPoolSize"', 'true', 'max(8, availableProcessors)', '1',
                        'Default thread pool size that will be used to process utility cache messages')
                .pc-form-grid-col-30
                    +number('Utility cache keep alive time:', model + '.utilityCacheKeepAliveTime', '"utilityCacheKeepAliveTime"', 'true', '60000', '0',
                        'Keep alive time of thread pool size that will be used to process utility cache messages')
                .pc-form-grid-col-30
                    +number('Async callback:', model + '.asyncCallbackPoolSize', '"asyncCallbackPoolSize"', 'true', 'max(8, availableProcessors)', '1',
                        'Size of thread pool that is in charge of processing asynchronous callbacks')
                .pc-form-grid-col-30
                    +number('Striped:', model + '.stripedPoolSize', '"stripedPoolSize"', 'true', 'max(8, availableProcessors)', '1',
                        'Striped pool size that should be used for cache requests processing')

                //- Since ignite 2.0
                .pc-form-grid-col-30(ng-if-start='$ctrl.available("2.0.0")')
                    +number('Data streamer:', model + '.dataStreamerThreadPoolSize', '"dataStreamerThreadPoolSize"', 'true', 'max(8, availableProcessors)', '1',
                        'Size of thread pool that is in charge of processing data stream messages')
                .pc-form-grid-col-30
                    +number('Query:', model + '.queryThreadPoolSize', '"queryThreadPoolSize"', 'true', 'max(8, availableProcessors)', '1',
                        'Size of thread pool that is in charge of processing query messages')
                .pc-form-grid-col-60(
                    ng-if-end
                    ng-init='executorConfigurationsTbl={type: "executorConfigurations", model: "executorConfigurations", focusId: "kind", ui: "failover-table"}'
                )
                    mixin clusters-thread-executor-configurations
                        .ignite-form-field
                            +ignite-form-field__label('Executor configurations:', '"executorConfigurations"')
                                +tooltip(`Custom thread pool configurations for compute tasks`)
                            .ignite-form-field__control
                                -let items = executors

                                pc-list-editable(ng-model=items name='executorConfigurations')
                                    pc-list-editable-item-view
                                        | {{ $parent.item.name }} {{ $parent.item.size }}

                                    pc-list-editable-item-edit
                                        - form = '$parent.form'
                                        .pc-form-grid-row
                                            .pc-form-grid-col-30
                                                +text-enabled-autofocus('Name:', '$parent.item.name', '"ExecutorName"', 'true', 'true', 'Input executor name', 'Thread pool name')
                                            .pc-form-grid-col-30
                                                +number('Pool size:', '$parent.item.size', '"ExecutorPoolSize"', 'true', 'max(8, availableProcessors)', '1', 'Thread pool size')

                                    pc-list-editable-no-items
                                        | You have no executor configurations.&nbsp;
                                        a.link-success(ng-click=`(${items} = ${items} || []).push({})`) Create one?

                                button.btn-ignite.btn-ignite--link(type='button' ng-if=`${items}.length` ng-click=`(${items} = ${items} || []).push({})`)
                                    | + Add new executor configuration
                    +clusters-thread-executor-configurations

            .pca-form-column-6
                +preview-xml-java(model, 'clusterPools')
