//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

include /app/helpers/jade/mixins

-var form = 'query'
-var model = 'backupItem'
-var queryKeyFields = `${model}.queryKeyFields`
-var queryFields = `${model}.fields`
-var queryAliases = `${model}.aliases`
-var queryIndexes = `${model}.indexes`

.pca-panel.pca-panel-default(ng-form=form novalidate)
    .pca-panel-heading(bs-collapse-toggle)
        ignite-form-panel-chevron
        .pca-panel-heading-title(id='query-title') Domain model for SQL query
        .pca-panel-heading-description
            | Domain model properties for fields queries. 
            a.link-success(href='https://apacheignite.readme.io/docs/cache-queries' target='_blank') More info.
    .pca-panel-collapse(role='tabpanel' bs-collapse-target id='query')
        .pca-panel-body.pca-form-row
            .pca-form-column-6.pc-form-grid-row
                .content-not-available(ng-if=`${model}.queryMetadata === 'Annotations'`)
                    label Not available for annotated types

                .pc-form-grid-col-60(ng-if-start=`${model}.queryMetadata === 'Configuration'`)
                    +text('Table name:', `${model}.tableName`, '"tableName"', 'false', 'Enter table name')

                .pc-form-grid-col-30(ng-if-start='$ctrl.available("2.0.0")')
                    +text('Key field name:', `${model}.keyFieldName`, '"keyFieldName"', 'false', 'Enter key field name',
                        'Key name.<br/>' +
                        'Can be used in field list to denote the key as a whole')
                .pc-form-grid-col-30(ng-if-end)
                    +text('Value field name:', `${model}.valueFieldName`, '"valueFieldName"', 'false', 'Enter value field name',
                        'Value name.<br/>' +
                        'Can be used in field list to denote the entire value')

                .pc-form-grid-col-60
                    mixin domains-query-fields
                        .ignite-form-field
                            +ignite-form-field__label('Fields:', '"fields"')
                                +tooltip(`Collection of name-to-type mappings to be queried, in addition to indexed fields`)
                            .ignite-form-field__control
                                -let items = queryFields
                                list-editable(
                                    ng-model=items
                                    name='queryFields'
                                    ng-change=`$ctrl.onQueryFieldsChange(${items})`
                                )
                                    list-editable-item-view
                                        | {{ $parent.item.name}} / {{ $parent.item.className}}

                                    list-editable-item-edit
                                        - form = '$parent.form'
                                        .pc-form-grid-row
                                            .pc-form-grid-col-30(divider='/')
                                                +ignite-form-field-text('Field name', '$parent.item.name', '"name"', false, true, 'Enter field name')(
                                                    data-ignite-unique=items
                                                    data-ignite-unique-property='name'
                                                )
                                                    +unique-feedback('"name"', 'Property with such name already exists!')
                                            .pc-form-grid-col-30
                                                +java-class-typeahead('Field full class name', `$parent.item.className`, '"className"', 'javaBuiltInClasses', true, true, 'Enter field full class name')

                                    list-editable-no-items
                                        list-editable-add-item-button(
                                            add-item=`(${items} = ${items} || []).push({})`
                                            label-single='field to query'
                                            label-multiple='fields'
                                        )

                    +domains-query-fields

                .pc-form-grid-col-60
                    +ignite-form-field-dropdown('Key fields:', queryKeyFields, '"queryKeyFields"', false, false, true,
                        'Select key fields', 'Configure available fields', 'fields(\'cur\', ' + queryKeyFields + ')',
                        'Query fields that belongs to the key.<br/>\
                         Used to build / modify keys and values during SQL DML operations when no key - value classes are present on cluster nodes.'
                    )
                .pc-form-grid-col-60
                    +ignite-form-field-dropdown('Key fields:', queryKeyFields, '"queryKeyFields"', false, false, true,
                        'Select key fields', 'Configure available fields', 'fields(\'cur\', ' + queryKeyFields + ')',
                        'Query fields that belongs to the key.<br/>\
                         Used to build / modify keys and values during SQL DML operations when no key - value classes are present on cluster nodes.'
                    )
                .pc-form-grid-col-60
                    mixin domains-query-aliases
                        .ignite-form-field
                            +ignite-form-field__label('Aliases:', '"aliases"')
                                +tooltip(`Mapping from full property name in dot notation to an alias that will be used as SQL column name<br />
                                    For example: "parent.name" as "parentName"`)
                            .ignite-form-field__control
                                -let items = queryAliases

                                list-editable(ng-model=items name='queryAliases')
                                    list-editable-item-view
                                        | {{ $parent.item.field }} &rarr; {{ $parent.item.alias }}

                                    list-editable-item-edit
                                        - form = '$parent.form'
                                        .pc-form-grid-row
                                            .pc-form-grid-col-30(divider='/')
                                                +ignite-form-field-text('Field name', '$parent.item.field', '"field"', false, true, 'Enter field name')(
                                                    data-ignite-unique=items
                                                    data-ignite-unique-property='field'
                                                )
                                                    +unique-feedback('"field"', 'Such field already exists!')
                                            .pc-form-grid-col-30
                                                +ignite-form-field-text('Field alias', '$parent.item.alias', '"alias"', false, true, 'Enter field alias')

                                    list-editable-no-items
                                        list-editable-add-item-button(
                                            add-item=`(${items} = ${items} || []).push({})`
                                            label-single='alias to query'
                                            label-multiple='aliases'
                                        )

                    +domains-query-aliases

                .pc-form-grid-col-60(ng-if-end)
                    mixin domains-query-indexes
                        .ignite-form-field
                            +ignite-form-field__label('Indexes:', '"indexes"')
                            .ignite-form-field__control
                                -let items = queryIndexes

                                list-editable(ng-model=items name='queryIndexes')
                                    list-editable-item-view
                                        div {{ $parent.item.name }} [{{ $parent.item.indexType }}]
                                        div(ng-repeat='field in $parent.item.fields track by field._id')
                                            span {{ field.name }}
                                            span(ng-if='$parent.$parent.item.indexType == "SORTED"')
                                                |  / {{ field.direction ? "ASC" : "DESC"}}

                                    list-editable-item-edit
                                        - form = '$parent.form'
                                        .pc-form-grid-row
                                            .pc-form-grid-col-30(divider='/')
                                                +ignite-form-field-text('Index name:', '$parent.item.name', '"name"', false, true, 'Enter index name')(
                                                    data-ignite-unique=items
                                                    data-ignite-unique-property='name'

                                                    data-ignite-form-field-input-autofocus='true'
                                                )
                                                    +unique-feedback('"name"', 'Such field already exists!')
                                            .pc-form-grid-col-30
                                                +dropdown-required('Index type: ', `$parent.item.indexType`, '"indexType"', true, true, 'Select index type', '::$ctrl.Models.indexType.values')
                                            .pc-form-grid-col-60
                                                mixin domains-query-indexes-fields
                                                    .ignite-form-field
                                                        +ignite-form-field__label('Index fields:', '"indexFields"')
                                                            +tooltip(`Fields in index`)
                                                        .ignite-form-field__control(ng-if='item = $parent.item')
                                                            -let items = 'item.fields'
                                                            list-editable(ng-model=items name='indexFields')
                                                                list-editable-item-view
                                                                    | {{ $parent.item.name }} 
                                                                    span(ng-if='item.indexType == "SORTED"')
                                                                        |  / {{ $parent.$parent.item.direction ? "ASC" : "DESC" }}

                                                                list-editable-item-edit
                                                                    - form = '$parent.form'
                                                                    .pc-form-grid-row
                                                                        .pc-form-grid-col-60
                                                                            +sane-ignite-form-field-dropdown({
                                                                                label: 'Index field:',
                                                                                model: '$parent.item.name',
                                                                                name: '"indexName"',
                                                                                placeholder: `{{ ${queryFields}.length > 0 ? 'Choose index field' : 'No fields configured' }}`,
                                                                                options: queryFields
                                                                            })(
                                                                                bs-options=`item.name as item.name for item in ${queryFields}`
                                                                                ng-disabled=`${queryFields}.length === 0`
                                                                                ng-model-options='{allowInvalid: true}'
                                                                                data-ignite-unique=items
                                                                                data-ignite-unique-property='name'
                                                                            )
                                                                                +unique-feedback('"name"', 'Such field already exists!')
                                                                        .pc-form-grid-col-60(ng-if='item.indexType == "SORTED"')
                                                                            +sane-ignite-form-field-dropdown({
                                                                                label: 'Sort direction:',
                                                                                model: '$parent.$parent.item.direction',
                                                                                name: '"indexDirection"',
                                                                                required: true,
                                                                                options: '::$ctrl.Models.indexSortDirection.values'
                                                                            })
                                                                list-editable-no-items
                                                                    list-editable-add-item-button(
                                                                        add-item=`$edit($ctrl.Models.addIndexField(${items}))`
                                                                        label-single='field to index'
                                                                        label-multiple='fields in index'
                                                                    )

                                                +domains-query-indexes-fields

                                    list-editable-no-items
                                        list-editable-add-item-button(
                                            add-item=`$ctrl.Models.addIndex(${model})`
                                            label-single='index'
                                            label-multiple='fields'
                                        )

                    +domains-query-indexes
            .pca-form-column-6
                +preview-xml-java(model, 'domainModelQuery')
