//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

include /app/helpers/jade/mixins

-var form = 'store'
-var model = 'backupItem'
-var keyFields = `${model}.keyFields`
-var valueFields = `${model}.valueFields`

mixin list-db-field-edit({ items, itemName, itemsName })
    list-editable(ng-model=items)
        list-editable-item-view
            | {{ $parent.item.databaseFieldName }} / {{ $parent.item.databaseFieldType }} / {{ $parent.item.javaFieldName }} / {{ $parent.item.javaFieldType }}

        list-editable-item-edit
            - form = '$parent.form'

            .pc-form-grid-row
                .pc-form-grid-col-30(divider='/')
                    +ignite-form-field-text('DB name:', '$parent.item.databaseFieldName', '"databaseFieldName"', false, true, 'Enter DB name')
                .pc-form-grid-col-30
                    +dropdown-required('DB type:', '$parent.item.databaseFieldType', '"databaseFieldType"', true, true, 'Choose DB type', 'supportedJdbcTypes')
                .pc-form-grid-col-30(divider='/')
                    +ignite-form-field-text('Java name:', '$parent.item.javaFieldName', '"javaFieldName"', false, true, 'Enter Java name')
                .pc-form-grid-col-30
                    +dropdown-required('Java type:', '$parent.item.javaFieldType', '"javaFieldType"', true, true, 'Choose Java type', 'supportedJavaTypes')

        list-editable-no-items
            | You have no #{itemsName}.&nbsp;
            a.link-success(ng-click=`(${items} = ${items} || []).push({})`) Create one?

    button.btn-ignite.btn-ignite--link(type='button' ng-if=`${items}.length` ng-click=`(${items} = ${items} || []).push({})`)
        | + Add new #{itemName}

.pca-panel.pca-panel-default(ng-form=form novalidate)
    .pca-panel-heading(bs-collapse-toggle='' ng-click=`ui.loadPanel('${form}')`)
        ignite-form-panel-chevron
        .pca-panel-heading-title(id='store-title') Domain model for cache store
        .pca-panel-heading-description
            | Domain model properties for binding database with cache via POJO cache store. 
            a.link-success(href="https://apacheignite.readme.io/docs/3rd-party-store" target="_blank") More info.
    .pca-panel-collapse(role='tabpanel' bs-collapse-target id=`${form}`)
        .pca-panel-body.pca-form-row(ng-if=`ui.isPanelLoaded('${form}')`)
            .pca-form-column-6.pc-form-grid-row
                .pc-form-grid-col-30
                    +text('Database schema:', model + '.databaseSchema', '"databaseSchema"', 'false', 'Input DB schema name', 'Schema name in database')
                .pc-form-grid-col-30
                    +text('Database table:', model + '.databaseTable', '"databaseTable"', 'false', 'Input DB table name', 'Table name in database')
                .pc-form-grid-col-60
                    mixin domains-store-key-fields
                        .ignite-form-field(ng-init='keysTbl={type: "table-db-fields", model: "keyFields", focusId: "KeyField", ui: "table-db-fields"}')
                            +ignite-form-field__label('Key fields:', '"keyFields"')
                                +tooltip(`Collection of key fields descriptions for CacheJdbcPojoStore`)
                            .ignite-form-field__control
                                +list-db-field-edit({
                                    items: keyFields,
                                    itemName: 'key field',
                                    itemsName: 'key fields'
                                })
                    +domains-store-key-fields

                .pc-form-grid-col-60
                    mixin domains-store-key-fields
                        .ignite-form-field(ng-init='valuesTbl={type: "table-db-fields", model: "valueFields", focusId: "ValueField", ui: "table-db-fields"}')
                            +ignite-form-field__label('Value fields:', '"valueFields"')
                                +tooltip(`Collection of value fields descriptions for CacheJdbcPojoStore`)
                            .ignite-form-field__control
                                +list-db-field-edit({
                                    items: valueFields,
                                    itemName: 'value field',
                                    itemsName: 'value fields'
                                })
                    +domains-store-key-fields

            .pca-form-column-6
                +preview-xml-java(model, 'domainStore')

